{% load static %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html>
<head>
    <title>Add Wallpaper</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .preview {
            display: inline-block;
            margin: 10px;
        }
        .preview img {
            width: 100px;
            height: 100px;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.name }}
        {{ form.category }}
        {{ form.image_files|attr:"multiple:true"|attr:"id:file-input" }}
        {{ form.tags }}
        <div id="preview-container"></div>
        <button type="submit">Submit</button>
    </form>
<script src="{% static "js/add_wallpaper.js" %}"></script>
</body>
</html>
