{% load static %}

<div class="d-flex align-items-center justify-content-between me-auto">
    <a href="{% url "home" %}" class="logo d-none d-xl-flex align-items-center">
        <img src="{% static "img/wallpaper.png" %}" alt="Frolic">
        <span class="d-none d-lg-block fs-4">WALLPAPERZZZ</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn d-xl-none p-0"></i>
</div>

<a href="{% url "home" %}" class="logo d-xl-none d-flex align-items-center mx-auto">
    <img src="{% static "img/wallpaper.png" %}" alt="">
    <span class="d-none d-sm-block fs-4">WALLPAPERZZZ</span>
</a>

<nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
        <li class="nav-item pe-3">
            <button type="button" class="btn btn-danger fw-bold" data-bs-toggle="modal" data-bs-target="#logoutConfirmationModal">
              Logout
            </button>  
        </li>
    </ul>
</nav>
